.coverage
.env
.env.*
!.env.example
!.env.production.example
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.egg-info/
*.py[cod]
.DS_Store
.idea/
.vscode/
build/
coverage.xml
dist/
htmlcov/
